body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  box-shadow: 0 0 5px black;
}

table td , th {
  padding: 15px;
  width: 150px;
  text-align: center;
}

table th {
  background-color: rgba( 0 , 0 , 0 , 0.856 );
  color: white;
  border: 1px solid white;
  font-family: monospace;
  font-size: 16px;
}

table td {
  border: 1px solid black;
}

table thead th {
  color: rgba( 57 , 105 , 195 , 0.418 );
  text-shadow: 0 0 1px white;
}
